.brandnews-container{
    background-color: rgba(0,0,0, 0.5);;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.each_product_browser{
    width: 400px;
    height: 400px;
}
.each_product_mobile{
    width: 150px;
    height: 300px;
}
.each-product-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    :hover{
            cursor: pointer;
    }
}
.each-product-img{
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}