.introduction{
    background-color: #f0f8ff;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.information{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    width: 80%;
    padding: 20px;
    text-align: center;
}