.months-product-container{
    background-color: rgba(0,0,0, 0.5);
    color: white;
    text-decoration: none;

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    :hover{
        cursor: pointer;
    }
}
