.product-detail-all-container{
    width: 100%;
}
.product-detail-container{
    margin: 0 0 10px 0;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.product-detail-title{
    text-align: center;
}
.product-detail-infos{
    margin: 10px;
}
.product-detail-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
}