.main-container{
    background-color: #0a1e53;
    width: 100%;
    display: flex;
    align-items: center;
}
.left-side-banner{
    display: flex;
    flex: 1;
}
.right-side-banner{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}
.logo{
    margin-left: 15%;
    object-fit: contain;
    margin-right: 25px;
}
.company-name{
    color: white;
    font-size: 20px;
}
.topbanner-links{
    color: white;
    text-decoration: none;
}